
<div class="container" style="margin-top:80px;">
	<div class="row" >
		<div class="col-sm-12 col-md-4 col-lg-4" style="text-align:center;">
			<h1>Post Page | <%= @post.id %> | </h1>
			<p id="notice"><%= notice %></p>
			<p>
			  <strong>Title:</strong>
			  <%= @post.title %>
			</p>
			<p>
			  <strong>Price:</strong>
			  <%= @post.price %>
			</p>
			<p>
			  <strong>Bedrooms:</strong>
			  <%= @post.bedrooms %>
			</p>
			<p>
			  <strong>Area:</strong>
			  <%= @post.area %>
			</p>
			<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary btn-lg' %>
			<%= link_to 'Back', posts_path, class: 'btn btn-primary btn-lg' %>
		</div>
		<div class="col-sm-12 col-md-8 col-lg-8" style="text-align:center;">
			<h1>Comments:</h1>

			<hr>
				<%= link_to "New Message", new_post_message_path(@post) %>
				<hr>


				<% if @messages.blank? %>
					<h3>No comments yet, be the first!</h3>
				<% else %>
					<% @messages.each do |message| %>
						<div class="thumbnail" >
							<h3>Title: | <%= message.title %></h3>
							<h3>Description: | <%= message.description %></h3>
							<h3>User Id: | <%= message.user_id %> | Post Id: | <%= message.post_id %> | </h3>
						</div>
						<hr>
					<% end %>
				<% end %>
  		</div>
<br>
		</div>
	</div>
</div>
